<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.about == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">About</a>
            </li>
        {% endif %}

        {% if site.science == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}/science">Science</a>
            </li>
        {% endif %}

        {% if site.art == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}/art">Art</a>
            </li>
        {% endif %}

        {% if site.consulting == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}/consulting">Consulting</a>
            </li>
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
        
        {% if site.contact == true %}
            <li class="item">
                <a class="link" href="{{ site.url }}/contact">Contact</a>
            </li>
        {% endif %}
    </ul>
</nav>
